*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.p-3 {
    padding-bottom: 3%;
    height: 100%;
}
/* CSS Document */
::-webkit-scrollbar-track{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}/*滚动条的滑轨背景颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.05);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(75, 75, 75, 0.58);}/*滑块颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(48, 48, 48, 0.92);}
::-webkit-scrollbar{width: 16px;height: 16px;}/* 滑块整体设置*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}
::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height: 20px;background-clip: content-box;box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-corner{background: transparent;}/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

body{
    font-size: 100%;
}
a:hover{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

.text_right{
    text-align: right;
}
.header{
    width: 100%;
    height: 80px;
    background-color: #030829;

}
.header_center{
    width: 32%;
    margin: 0px auto;
    color: #FFFFff;
    text-align: center;
    height: 80px;
    background-image: url("../img/logoBg.png");
    background-size: 100% 100%;
    font-family: "微软雅黑"!important;


}
.header_center h2{
   margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 18px !important;

}
.color_font{
    color: #e8f7fe !important;
    font-size: 12px !important;
}
.header_logo{
    margin-left: 1%;
    margin-top: 12px;

}
.header_logo img{
    height: 56px;
}
.nav{
    width: 34%;
    margin-left:1%;
}
.nav>ul{

}
.nav>ul>li{
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 50px;
    position: relative;
    line-height: 50px;
    margin-top: 15px;
    box-sizing: border-box;
    /*box-shadow: -5px 0px 5px #034c6a inset, !
    /*0px -5px 15px #034c6a inset, !
    /*5px 0px 15px #034c6a inset, !
    /*0px 5px 15px #034c6a inset;*/


    border-radius: 5px;

}
.nav>ul>li:hover{
    box-shadow: -10px 0px 15px #034c6a inset,
    0px -10px 15px #034c6a inset,
    10px 0px 15px #034c6a inset,
    0px 10px 15px #034c6a inset;
    box-sizing: border-box;
}
.nav>ul>li i{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top:3px;
    margin-right: 5px;
}
.nav>ul>li>a{
    color: #ffffff;
    /*display: inline-block;*/
    /*padding: 0 15px 0 5px;*/
    font-size: 14px;
}
/*.nav>ul>li:hover .li_ul{*/
    /*display: block;*/
/*}*/

.li_ul{
    position: absolute;
    background-color: #030829;
    width: 100%;
    /*border-top:4px solid #4b8df8;*/
    display: none;
    z-index: 999;

}
.li_ul li{
    line-height: 40px !important;
}
.li_ul li:hover{
    background-color: #4b8df8;
}
.li_ul li a{
    color: #ffffff;
    font-size: 13px;
}

.nav_1{
     background-image: url("../img/nav_1.png");
 }
.nav_2{
    background-image: url("../img/nav_2.png");
}
.nav_3{
    background-image: url("../img/nav_3.png");
}
.nav_4{
    background: url("../img/factory3.png") no-repeat;
}
.nav_5{
    background-image: url("../img/nav_5.png");
}
.nav_6{
    background-image: url("../img/nav_6.png");
}
.nav_7{
    background-image: url("../img/nav_7.png");
}
.nav_8{
    background-image: url("../img/nav_9.png");
}
.nav_active{
    border-bottom: 4px solid #4b8df8;
    box-shadow: -10px 0px 15px #034c6a inset, 
    0px -10px 15px #034c6a inset, 
    10px 0px 15px #034c6a inset, 
    0px 10px 15px #034c6a inset;
    box-sizing: border-box;
}
.con{
    width: 100%;
    background-color: #081832;
}
.con1{
    width: 100%;
    background-color: #081832cc;
    /*padding-bottom: 4px;*/
    box-sizing: border-box;
    overflow: auto;

;
}
.find_expend{
    display: none;
}
.con1::before{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.select_time{
    width: 140px;
    height: 36px;
    margin-bottom: 25px;
    margin-left: 1%;
   padding-left: 20px;
}
.select_time img{
    height: 18px;
    margin-top: 9px;
}
.select_time input{
    border: none;
    background-color: transparent;
    width: 80px;
    height: 20px;
   top:-5px;
    margin-left: 10px;
    position: relative;
    text-indent: 1em;
    outline: none;
}
.con_div{
    height: 75px;
    width: 98%;
    margin: 20px 1% 35px 1%;
}
.con_div_text{
    height: 100%;
    background-color: #034c6a;
    width: 49.5%;
    margin-right: 1%;
}
.con_div_text:last-child{
    margin-right: 0;
}
.con_div_text01{
    width: 48%;
    height: 100%;
}
.text01_img{
    width: 30px;
    height: 30px;
    margin-left: 5%;
  margin-top: 23px;
}
.text01_div{
    margin-top: 4px;
    margin-left: 5%;
    text-align: center;

}
.text01_div p{
    line-height: 35px;
}
.text01_div p:nth-child(1){
    font-size: 15px;
    color: #ffffff;
}
.text01_div p:nth-child(2){
    font-size: 24px;
    color: #ffff43;
    font-weight: 600;

}
.red{
    color: red !important;
}
.sky{
    color: #25f3e6 !important;
}
.org{
    color: #ff4e4e !important;
}
.div_any{
    width: 98%;
    margin:0 1%;
    margin-bottom:35px;
}
.divanyInfo{
    height:100%;
}
.div_any01{
    width: 24%;
    margin-right: 1%;
}
.div_any01:last-child{
    margin-right: 0;
}
.div_any02{
    width: 50%;
    margin-right: 1%;
    height:100%;
}
.div_any03{
    width: 98%;
   margin: 15px auto;

}
.div_any_child{
    width: 100%;
    height: 47%;
    box-shadow: -10px 0px 15px #034c6a inset,
    0px -10px 15px #034c6a inset, 
    10px 0px 15px #034c6a inset, 
    0px 10px 15px #034c6a inset;
    border: 1px solid #034c6a;
    box-sizing: border-box;
    position: relative;
    /* min-height: 154px; */
}
.div_any_child01{
    width: 48%;

    box-shadow: -10px 0px 15px #034c6a inset,
    0px -10px 15px #034c6a inset,
    10px 0px 15px #034c6a inset,
    0px 10px 15px #034c6a inset;
    border: 1px solid #034c6a;
    box-sizing: border-box;
    position: relative;
    margin-right: 2%;

}
.div_any_child01_wh{
    width: 98% !important;
}
.div_height01{
    height: auto !important;
    padding: 5px;
}
.char_table{
    height: 200px;
}
.p_chart{
    height: 100%;
    /* padding: 5px 10px; */
    margin-top: 1%;
}
#map_div{
    width: 96%;
    height: 100%;
    margin: 4% auto;
}
.div_height{
    height:100% !important;
}
.div_any_title{
    background-color: #034c6a;
    border-radius: 18px;
    position: absolute;
    height: 35px;
    width: 60%;
    top:-15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    left: 20%;
    line-height: 35px;
    text-align: center;
}
.div_any_title img{
    width: 18px;
    height: 18px;
    position: relative;
    top:2px;
    margin-right: 5px;
}
.any_title_width{
    width: 30% !important;
    left: 35% !important;
}
.div_table{
    width: 98%;
    margin:0 1%;
    height: 280px;
}
.div_table_box{
    width: 24%;
    margin-right: 1%;
    height:100%;
}
.table_p{
    /* height: 93%; */
    margin-top: 7%;
    position: relative;


}.table_p01{
     height:auto !important;
     margin-top: 0!important;
     position: relative;
 }
.table_p01 table td{
    padding: 6px 0;
}
.table_p table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;

    position: absolute;
    text-align: center;
}
.table_p table thead th{
    color: #61d2f7;
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}
.table_p table tbody{
    color: #ffffff;
   font-size: 13px;
}
.table_p table tbody tr:nth-child(2n+1){
    background-color: #072951;
    box-shadow: -10px 0px 15px #034c6a inset,
    10px 0px 15px #034c6a inset;
}

.car_left{
    width: 18%;
    height: 100%;
    background-color:  #081832;
}
.car_center{

    height: 100%;
    background-color:  #081832;
    width: 50.5%;
    margin-left: 0.5%;
}
.car_center video{
    width: 49.5%;
    height: 49%;


    box-sizing: border-box;
    box-shadow: -10px 0px 15px #034c6a inset,
    10px 0px 15px #034c6a inset;
    float: left;
}
.magin_top{
    margin-top: 1%;
}
.magin_left{
    margin-left: 1%;
}
.car_right{
    width: 31%;
    height: 100%;
}
.text_center{
    text-align: center;
}
.carNo_input{
    width: 75%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 2em;
    margin-left: 5%;

    border:1px solid #072951;
border-radius: 3px;
}
.find_but{
    height: 25px;
    background-image: url("../img/find.png");
    width: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top:8px;
    border:none;
    background-color: transparent;
}
.find_but1{
    height: 25px;
    background-image: url("../img/find.png");
    width: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top:8px;
    border:1px solid #4b8df8;
    background-color: transparent;
}
.set_list{
    padding: 10px 5%;
    color: #eee;
    font-size: 14px;
}
.list_i{
    width: 16px;
    height: 16px;
    display: inline-block;

    background-image: url("../img/nav_1.png");
    top:3px;
    position: relative;
}
.left_up{

    height: 58%;

}
.left_table{

    height: 98%;

    border-radius: 5px;
    width:18%!important;
    background-color:  #081832;


}
.right_table{
    height: 98%;

    border-radius: 5px;
    width:81.5%!important;
    background-color:  #081832;
    margin-left: 0.5%;
}
.center_table{
    height: 100%;
    border-radius: 5px;
    width:100%;
    background-color:  #081832;
   margin: 0 auto;
}
.bow_shadow{
    box-shadow: -8px 0px 10px #034c6a inset,
    8px 0px 10px #034c6a inset;
    width: 100%;
    box-sizing: border-box;
}

.ztree li a{
    color: #FFFFff !important;
}
.left_down{
    height: 40%;
    margin-top: 2%;
}
.tab_a{
    width: 45%;
    height: 30px;
    line-height: 30px;
    color: #FFFFff;
    background-color: #667fa7;
    display: inline-block;
    margin-right: 1%;
    margin-top: 5px;
    font-size: 14px;
}
.tab_aActive{
    background-color:#034c6a !important;
    font-weight: 600;
}
.car_content{
    margin-left: 5%;

    font-size: 13px;
    color: #eeeeee;
}
.car_content p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.table2_find{
    background-color: #072951;
    box-shadow: -10px 0px 15px #034c6a inset, 10px 0px 15px #034c6a inset;
    width: 100%;
    padding: 5px 0;
    color: #FFFFff;
}


.table2_find input[type=text]{
    background-color: transparent;
    width: 16%;
    height: 24px;
    border-radius: 3px;
    text-indent: 1em;
    border:1px solid #7EC4CC;

}


.table_find{
    width: 100%;
    padding: 8px 0;
    border-bottom: 2px solid #a5c5f83b;
    font-size: 13px;
}
.more_find{

    cursor: pointer;
    position: relative;
    top:5px;
}
.table_find .glyphicon{
    margin-right: 5px;
}
.table_find button{
    padding: 4px 10px;
}
.table_find p{
    margin-top: 8px;
}
.table_find label{

    color: #eeeeee;

    width: 8%;
    display: inline-block;
    text-align: right;

}
.table_find input[type=text],.table_find input[type=date]{
    width: 16%;
    height: 24px;
    border-radius: 3px;
    text-indent: 1em;
    border:1px solid#4b8df8;
    background-color: #cccccc4f;
}
.table_find select{
    width: 12%;
    height: 24px;
    border-radius: 3px;
    text-indent: 1em;
    border:1px solid #4b8df8;
    background-color: #cccccc4f;
}
.table_find input[type=checkbox]{
    width: 14px;
    height: 14px;
    position: relative;
    top:3px;
    margin-right: 5px;
}
.table_find span{
    color: #b2cbf3;

    margin-right: 2%;
}
.find_button{
    width: 5%;
    height: 26px;
    border: none;
    border-radius: 2px;
    background-color: #4b8df8;
    color: #FFFFff;
    font-size: 14px;

}
.table2_style{
    color: #FFFFff;
    border: none !important;
    font-size: 13px;
}
.table2_style a{
    margin-right: 10px;
}
.table2_style tbody tr:nth-child(2n+1){
    background-color: #072951;
   border-left: 4px solid #4b8df8;;
}
.table2_style thead tr{
    color: #FFFFff;
   background-color:#4b8df8;
}
.table2_style td{
    border: none !important;
}
.table2_style thead th{
    border-bottom: none !important;
}
.table2_style tbody tr:nth-child(2n):hover{
    /*color: #072951;*/
    background-color: rgba(75, 141, 248, 0.65);

}
.table_style{
    color: #FFFFff;
    box-shadow: -8px 0px 10px #034c6a inset,
    8px 0px 10px #034c6a inset;
    border: none !important;
    font-size: 13px;
}
.table_style a{
    margin-right: 10px;
}
.table_style td{
    border: none !important;
}
.table_style tbody tr:nth-child(2n+1){
    background-color: #072951;
    box-shadow: -10px 0px 15px #034c6a inset,
    10px 0px 15px #034c6a inset;
}
.table_style thead tr{
    color: #4b8df8;
}
.table_style thead th{
    border-bottom: none !important;
}
.table_style tbody tr:nth-child(2n):hover{
    /*color: #072951;*/
    background-color: rgba(75, 141, 248, 0.12);
}
.table_div{
    margin-top: 10px;
    color: #FFFFff;
}
.table_but{
    text-align: right;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 10px;

}
.table_but a{
    margin-right: 15px;
    color: #FFFFff;
}
.table_but a i{
    margin-right: 5px;
}
.table_del{
    color: orangered;
}
.table_edit{
    color: #0D8BBD;
}
.span_left{
    padding: 5px;
}
/* 自定义 style */
.header_center .jlogo{
    width: 500px;
    margin: 0 auto;
    font-size:20px;
}
.jlogoInfo{
    margin: 0 auto; 
}
.jlogoImg{
    width:82px;
    float: left;
}
.jlogoImg img{
    height:45px;
    margin-top:12px;
}
.header_center .jtitle{
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 20px;
    font-weight: 900;
    font-size: 26px;
    color: #333333;
    background: -webkit-linear-gradient(top, #fff, #65c4f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.clearfix{*zoom: 1}
.clearfix:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
.clear{clear: both;}
.con .div_table .tableBoxnum{
    width:37%;
}
.div_any01 {
     height:100%;
}
.div_table .tableBoxnum:last-child{
    margin-right: 0;
}
.nav>ul>.navTime{
    width: auto;
    padding:0 20px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    border-radius: 5px;
}
.con_div_text .con_div_text02{
    width:180px;
    margin:0 auto;
}
.divanyInfo .childSeven{
    height:100%;
}
.con_div .textLeft{
    width:32.5%;
    margin-right: 1.25%;
}
.con_div .con_div_textse{
    width:50%;
}
.textpeople{
    width:180px;
    margin:0 auto;
}
.con_div_text:last-child{
    margin-right:0;
}
.connav .btn{
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 50px;
    position: relative;
    line-height: 40px;
    margin-top: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.connav .btn i{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.connav {
    position: relative;
    display: block;
}
.navUl{
        left: 0;
        right: auto;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        background: #071633;
        width: 120px;
        box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.navUl li {
    padding: 6px 10px;
}
.navUl a{
    color:#fff;
}
.right {
    margin-right: 1%;
}



.connav .dropdown-menu {
    left: 0;
    right: auto;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    background: #071633;
    min-width: 120px;
    box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
  }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto;
  }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
  }
  .dropdown-menu > li:hover,
  .dropdown-menu > li:focus {
    color: #fff;
    background-color: #004b6b;
  }
  .dropdown-menu > li>a:hover,
  .dropdown-menu > li>a:focus {
    text-decoration: none;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
  }
  .dropdown-menu > .disabled > a,
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    color: #777;
  }
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .open > .dropdown-menu {
    display: block;
  }
  .open > a {
    outline: 0;
  }
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .dropdown-menu-left {
    right: auto;
    left: 0;
  }
  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropup .caret,
  .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
  }
  .dropup .dropdown-menu,
  .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
  @media (min-width: 768px) {
    .navbar-right .dropdown-menu {
      right: 0;
      left: auto;
    }
    .navbar-right .dropdown-menu-left {
      right: auto;
      left: 0;
    }
  }
  .btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
.btn-toolbar {
  margin-left: -5px;
}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: left;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
  float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
  box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.btn-group.open .dropdown-toggle.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
.btn .caret {
  margin-left: 0;
}
.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btn-group-vertical > .btn-group > .btn {
  float: none;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}
.btn-group-justified > .btn-group .btn {
  width: 100%;
}
.btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-group.open .dropdown-toggle {
    box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    border-bottom: 4px solid #4b8df8;
    box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}

.connav .btn-default{
    background-color:#030a29;
}
.connav .btn-default:focus,
.connav .btn-default.focus {
  color: #fff;
  background-color: #030a29;
  box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.connav .btn-default:hover {
    color: #fff;
    background-color: #030a29;
    box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.connav .btn-default:active,
.connav .btn-default.active,
.header .open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #030a29;
  box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.connav .btn-default:active:hover,
.connav .btn-default.active:hover,
.header .open > .dropdown-toggle.btn-default:hover,
.connav .btn-default:active:focus,
.connav .btn-default.active:focus,
.header  .open > .dropdown-toggle.btn-default:focus,
.connav .btn-default:active.focus,
.connav .btn-default.active.focus,
.header .open > .dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #030a29;
  border-bottom: 4px solid #4b8df8;
  box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.connav .btn-default.disabled:hover,
.connav .btn-default[disabled]:hover,
fieldset[disabled] .connav .btn-default:hover,
.connav .btn-default.disabled:focus,
.connav .btn-default[disabled]:focus,
fieldset[disabled] .connav .btn-default:focus,
.connav .btn-default.disabled.focus,
.connav .btn-default[disabled].focus,
fieldset[disabled] .connav .btn-default.focus {
    background-color: #030a29;
    box-shadow: -10px 0px 15px #034c6a inset, 0px -10px 15px #034c6a inset, 10px 0px 15px #034c6a inset, 0px 10px 15px #034c6a inset;
}
.header .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #030a29;
    box-shadow: -10px 0px 15px #034c6a inset, 
    0px -10px 15px #034c6a inset, 
    10px 0px 15px #034c6a inset, 
    0px 10px 15px #034c6a inset;
  }
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .header .open > .dropdown-toggle.btn-primary:hover,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .header .open > .dropdown-toggle.btn-primary:focus,
  .btn-primary:active.focus,
  .btn-primary.active.focus,
  .header .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #030a29;
    box-shadow: -10px 0px 15px #034c6a inset, 
    0px -10px 15px #034c6a inset, 
    10px 0px 15px #034c6a inset, 
    0px 10px 15px #034c6a inset;
  }
.header .dropdown-menu > li > a:hover,
.header .dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #074d6a;
}
.header p,.con p{
    margin: 0 0 0px;
}
.header img,.con img {
    vertical-align:baseline;
}
.table_p th {
   text-align: center; 
}
/* 自定义结束 style */

.month{
    width:90%;
    margin: 0 auto;
    height:65%;
    text-align: center;
    color:#ccc;
}
.montnNum {
    height: 100%;
}
.month .monthOne,.month .monthEleven{
    margin:0 auto;
    width:50%;
    margin-top:30px;
    height:32%;
}
.month .monthEleven{
    margin-top:0px;
}
.monthOne .monthone,.monthOne .monthtwo{
    border:1px solid #ccc;
    width:100%;
    height:50%;
}
.month .monthEleven .monthone{
    border-top:none;
}
.month .monthEleven .monthtwo{
    border-bottom:1px solid #ccc;
}
.monthOne .monthtwo{
    margin-top:0px;
    border-top:none;
    border-bottom:none;
    height:50%;
}
.monthThree{
    width:100%;
    height:16%;
}
.monthThree .monththree,.monthThree .monthfoue,.monthThree .monthfive,.monthThree .monthsix{
    border:1px solid #ccc;
    float: left;
    width:25%;
    height:100%;
}
.month .monthThree .monththree,.month .monthThree .monthfoue,.month .monthThree .monthfive{
    border-right:none;
}
.month .criclred,.month  .criclrgreen,.month  .cricleorange,.month  .criclegray{
    width:10px;
    height:10px;
    border-radius: 50%;
    background: #c7353a;
    /* position: absolute;
    top: 50%; */
    display:inline-block;
    margin-right: 3px;
}
.montnNum .criclegray{
    background:#ccc;
}
.montnNum .criclrgreen{
    background:#81b740;
}
.montnNum .cricleorange{
    background:#d9a503;
}
.montnNum .cricleColor{
    width:40px;
    margin:0 auto;
    position: relative;
    height: 100%;
}
.monthInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.safeTitle{
    border:1px dashed #ccc;
    border-radius: 5px;
    width:160px;
    color:#fff;
    height:10%;
    min-height:28px;
    margin:0 auto;
    margin-top: 1%;
}
.safeTitle p{
    text-align: center;
    font-size:13px;
    min-height:28px;
}
.safeTitle span{
    color:#81b740;
    font-size:16px;
}